@charset "utf-8";
/* CSS Document */
body
{
	width:100%px;
	height:auto;
	background-image:url(images/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
#header
{
	width:100%;
	height:150px;
	background-image:url(images/bar.jpg);
	background-size:contain;
	padding-top:70px;
}
#container
{
	width:100%;
	height:60px;
	background-color:#0105A6;
	position:relative;
	margin-top:2%;
	padding-top:1%;
}
#container menu
{
	height:100%;
	width:50%;
	margin:auto;
	float:right;
	text-align:right;
}
#container .form
{
	float:left;
	height:100%;
	width:40%;
	margin:auto;

}
#container menu a
{
	font-size:20px;
	font-family:STENCIL;
	text-decoration:none;
	color:#FFFFFF;
	
}
.button
{
	width:20%;
	height:100%;
	background-image:url(images/button.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	
}
.button a
{
	color:#FFFFFF;
	text-decoration:none;
	font-family:stencil;
	height:10%;
	font-size:16px;

}
.button a:hover
{
	color:#FFFFFF;
	text-decoration:none;
	font-family:stencil;
	background-color:#0FC2DF;
	height:20px;
}
h4
{
	color:#FFFFFF;
	font-family:Adobe Gothic Std B;
	font-size:54px;
	height:30px;
	text-align:center;
	margin-top:auto;
}
h5
{
	color:#FFFFFF;
	font-family:Adobe Gothic Std B;
	font-size:34px;
	margin-top:2px;
	text-align:center;
}
#content
{
	height:auto;
	width:100%;
}
#content .left
{
	height:300px;
	width:95%;
	margin:auto;
	margin-top:2%;
	background-color:rgba(0,0,0,0.80);
}
#content .left img
{
	height:90%;
	width:45%;
	float:left;
	margin:auto;
	margin-top:1.5%;
	margin-left:1.5%;
	background-color:rgba(0,0,0,0.80);
}
#content .left des
{
	height:90%;
	width:50%;
	float:right;
	margin:auto;
	margin-top:1.5%;
	margin-right:1.5%;
	background-color:rgba(0,0,0,0.80);
}
#content .left des p
{
	font-size:26px;
	color:white;
	font-family:adobe fan heiti std B;
	margin-left:10px;
	font-weight:600;
}
#content .left des h6
{
	font-size:16px;
	text-justify:auto;
	color:white;
	font-family:adobe fan heiti std B;
	margin-left:10px;
}
#content .left des .steam
{
	height:50px;
	width:150px;
	background-color:rgba(8,199,196,0.82);
	margin-left:70%;
	margin-bottom:10%;
}
#content .left des .steam p
{
	text-align:center;
}
#content .left des .steam:hover
{
	text-align:center;
	background-color:rgba(8,20,115,0.86);
}

#content .left:hover
{
	height:300px;
	width:95%;
	margin:auto;
	margin-top:2%;
	background-color:rgba(255,0,4,0.80);
}
#content .center
{
	height:500px;
	width:90%;
	background-color:rgba(0,0,0,0.75);
	margin:auto;
	margin-top:10px;
}
#content table
{
	margin-top:20px;
	margin:auto;
}
#content .center h2
{
	width:100%;
	background-color:rgba(0,0,0,0.77);
	color:#FFFFFF;
	margin:auto;
	margin-top:10px;
	font-size:34px;
}
#content .centers
{
	height:auto;
	width:90%;
	background-color:rgba(0,0,0,0.76);
	background-image:url(images/back.jpg);
	background-attachment:fixed;
	background-position:center;
	background-position:top;
	background-size:cover;
	margin:auto;
	margin-top:10px;
}
#content .centers h2
{
	width:100%;
	background-color:rgba(0,0,0,0.92);
	margin:auto;
	margin-top:10px;
	font-size:34px;
	color:white
}
video
{
	width:700px;
	height:400px;
	align-items:center;
}
#footer
{
	width:100%;
	height:20px;
	background-color:rgba(255,255,255,0.64);
	margin-top:2%;
}
h1
{
	color:white;
	font-family:Adobe Gothic Std B;
}
.MAFIA
{
	color:white;
	text-align:center;
	font-size:46px;
	font-family:Corbel;
	font-weight:bold;
	height:20px;
}
.DL
{
	color:white;
	text-align:center;
	font-size:46px;
	font-family:Corbel;
	font-weight:bold;
	height:20px;
}
.DI
{
	color:white;
	text-align:center;
	font-size:46px;
	font-family:Corbel;
	font-weight:bold;
	height:20px;
}
.desc
{
	font-family:arial;
	color:white;
	text-indent:hanging;
}
a
{
	color:white;
}